<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW"
        android:minSdkVersion="34" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".PangolinApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pangolin">
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="About"
            />
        <activity
            android:name=".LogsActivity"
            android:exported="false"
            android:label="Logs" />
        <activity
            android:name=".StatusActivity"
            android:exported="false"
            android:label="Status" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="Settings" />
        <activity
            android:name=".SignInCodeActivity"
            android:exported="true"
            android:label="Sign In"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="pangolin" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="Login"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Pangolin"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".AutomationActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="net.pangolin.Pangolin.ACTION_CONNECT" />
                <action android:name="net.pangolin.Pangolin.ACTION_DISCONNECT" />
                <action android:name="net.pangolin.Pangolin.ACTION_TOGGLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AutomationConnectActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay"
            android:excludeFromRecents="true" />
        <activity
            android:name=".AutomationDisconnectActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay"
            android:excludeFromRecents="true" />
        <activity
            android:name=".AutomationToggleActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay"
            android:excludeFromRecents="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".tile.PangolinTileService"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="Connect Pangolin"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>
    </application>

</manifest>
